@font-face {
    font-family: "Montserrat";
    src: url(/font/Montserrat/Montserrat-Medium.ttf), sans serif;
}
@keyframes zoom{
    0%{width: 25%;}
    25%{width: 30%;}
    50%{width: 35%;}
    100%{width: 40%;}
}
*{
    background-color:#5966D9;
    text-align: center;

}

img {
    width: 25%;
    height: auto;
    
}
    
button{
    justify-content: center;
   background-color: white;
}
.galleri{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px;
    justify-content: space-evenly;
	
}

.bilde-1 {
    margin: 5px;
	
}
.bilde-2 {
    margin: 5px;
	

}
.bilde-3 {
    margin: 5px;
	
}
.bilde-4 {
    margin: 5px;
	
}
.bilde-5 {
    margin: 5px;
	
}
.bilde-6 {
    margin: 5px;
	
    
}

.bilde-1:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 40%;
    height: auto;
    
}
.bilde-2:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 40%;
    height: auto;
    
}
.bilde-3:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 40%;
    height: auto;
    
}
.bilde-4:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 40%;
    height: auto;
    
}
.bilde-5:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 40%;
    height: auto;
    
}
.bilde-6:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 40%;
    height: auto;
    
}