@font-face {
    font-family: "Montserrat";
    src: url(/font/Montserrat/Montserrat-Medium.ttf), sans serif;

	
}
@keyframes zoom{
    0%{width: 75%;}
    25%{width: 80%;}
    50%{width: 85%;}
    100%{width: 90%;}
}

@keyframes flip{
	from{transform: matrix(0,0,0,0)}
	to{transform:matrix(-1,0,0,-1)}
	
}
*{
    background-color:#5966D9;
    text-align: center;
	color: white;

}
.knapp{
	color:black;
}

img {
    width: 70%;
    height: auto;
    
}
    
button{
    justify-content: center;
   background-color: white;
}
.galleri{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    padding: 5px 5px;
	
}

.bilde-1 {
    margin: 5px;
	grid-row-start: 1fr;

	
	
}
.bilde-2 {
    margin: 5px;
	

}
.bilde-3 {
    margin: 5px;
	
}
.bilde-4 {
    margin: 5px;
	
}
.bilde-5 {
    margin: 5px;
	
}
.bilde-6 {
    margin: 5px;
	
    
}
h1:active{
	animation-name:flip;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	font-si: 16px;
}
.bilde-1:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 75%;
    height: auto;
    
}
.bilde-2:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 75%;
    height: auto;
    
}
.bilde-3:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 75%;
    height: auto;
    
}
.bilde-4:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 75%;
    height: auto;
    
}
.bilde-5:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 75%;
    height: auto;
    
}
.bilde-6:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 75%;
    height: auto;
    
}