@font-face {
    font-family: "Montserrat";
    src: url("./font/Montserrat/Montserrat-Bold.ttf");
}
@keyframes zoom{
    0%{width: 24rem;}
    25%{width: 28rem;}
    50%{width: 32rem;}
    100%{width: 36rem;}
}

@keyframes gradient{
   0%{color:#050D14;}
	25%{
		color:#1E5282;  
	}
   50%{
	   color:#163D61;
	}
   75%{
	   color:#0C2033;
	}
   100%{
	   color:#0C2033;
	}
}

*{
	font-family:montserrat, sans serif; 
    background-color: white;
    text-align: center;
	color: black;
}

.nav {
    background-color: #FFFFFF;
    border-bottom: 3px solid #000000;
    padding: 1rem;
}

.nav-toggle {
    cursor: pointer;
    margin: 0rem 1rem;
    position: absolute;
    right: 0;
}

.close {
    display: none;
}

.menu {
    margin-top: 0.2rem;
}

[type="checkbox"] {
    display: none;
}

.nav-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: none;
    list-style: none;
}

.nav-menu li:first-child {
    margin-right: auto;
    display: block;
}

.nav-menu li a {
    color: inherit;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-menu li:first-child a:hover {
    border-bottom: none;
}

.nav-menu li a.selected {
    border-bottom: 2px solid #000000;
}

.nav-menu li a:hover {
    border-bottom: 2px solid #c5192d;
    color: #c5192d;
}

.sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

nav svg {
    fill: gray;
    width: 1.5rem;
}

#nav-checkbox:checked ~ ul.nav-menu li {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu {
    display: none;
}

/* CONTENT */
.container {
    width: 100%;
}

.page-title {
    background-color: #c5192d;
    color: #ffffff;
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;
}

section {
    display: block;
    padding: 0 2rem;
}

section > .image-content > img {
    object-fit: contain;
    width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 1rem;
}

/* FOOTER */
footer {
    background-color: #c5192d;
    color: #ffffff;
    margin: 2rem auto;
}

footer p {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


@media screen and (min-width: 960px) {
    /* NAVBAR */
    .nav-toggle {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
    }

    .nav-menu li {
        display: block;
    }

img {
    width: 24rem;
    height: auto;
    margin:5px;
}
.overskrifter{
	font-size: 8rem;
}
    
.galleri{
    display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
    padding: 5px 5px;
}

.bilde-1 {
    margin: 5px;
	
}
.bilde-2 {
    margin: 5px;


}
.bilde-3 {
    margin: 5px;

}
.bilde-4 {
    margin: 5px;

}
.bilde-5 {
    margin: 5px;

}
.bilde-6 {
    margin: 5px;

}
h1:active{
	animation-name:gradient;
	animation-duration: 10s;
	
}
.bilde-1:active{
    animation-name: zoom;
    animation-duration: 10s;
	width: 36rem;
    height: auto;
}
.bilde-2:active{
    animation-name: zoom;
    animation-duration: 10s;
	width: 36rem;
	height: auto;

}
.bilde-3:active{
    animation-name: zoom;
    animation-duration: 10s;
    width: 36rem;
	height: auto;
}
.bilde-4:active{
    animation-name: zoom;
    animation-duration: 10s;
	width: 36rem;
	height: auto;
    
}
.bilde-5:active{
    animation-name: zoom;
    animation-duration: 10s;
  	width: 36rem;
	height: auto;
}
.bilde-6:active{
    animation-name: zoom;
    animation-duration: 10s;
	width: 36rem;
	height: auto;
       
}
figcaption{
	color: transparent;	
}

figcaption:hover{
	color:black;
	
 				}